.class {
    padding: 1%;
    width: 50%;
    height: fit-content;
    background-color: red;
}

.information {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

#title {
    font-weight: bolder;
    font-size: x-large;
}

#department {
    font-size: small;
    padding: 0%;
}

#description {
    font-size: small;
}